@charset "utf-8";
/* CSS Document */

@font-face {
   font-family: 'gfont';
   src: url('gfont.ttf') format('truetype');
}

html{
	height: 100%;
}

body{
	background-image: url(repository/background.jpg);
	background-attachment:scroll;
	background-size: cover;
	font-family: gfont, Verdana, sans-serif;
	height:90%;
}

#bot{
	width:100%;
	margin-right: auto;
	margin-left: auto;

}

#bot table{
	width: 100%;
	height: 10%;
	margin-left: auto;
	margin-right: auto;
}


#bot img{
	border-radius: 10px;
	width: 40%;
	height: auto;
}

#bot button{
	font-size: 18px;
	border-radius: 20px;
	height: 40px;
	width: 175px;
	background-color:white;
	margin-left: auto;
	margin-right: auto;
}

#main{
	border: none;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 20px;
	margin-bottom: 20px;
    margin-top:20px;
	height:100%;
}

iframe{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

#logo{
margin-left:auto;
margin-right:auto;
}